<div class="row">
  <div class="col-md-12">
    <h1>Rodzaje Dostaw</h1>

    <table class="table table-bordered table-condensed table-striped">
      <thead>
      <tr>
        <th>Nazwa </th>
        <th>Cena</th>
        <th>Narzędzia</th>
      </tr>
      </thead>

      <tbody>
      <% @shippings.each do |shipping| %>
          <tr>
            <td><%= shipping.name %></td>
            <td><%= shipping.price %> zł</td>

            <td>
              <ul class="list-inline">
                <li>
                  <%= link_to shipping do %>
                      <%= fa_icon 'eye', style:'color: black' %> Podgląd
                  <% end %>
                </li>

                <li>
                  <%= link_to edit_shipping_path shipping do %>
                      <%= fa_icon 'pencil', style:'color: black' %> Edycja
                  <% end %>
                </li>

                <li>
                  <%= link_to shipping, method: :delete, data: { confirm: 'Jesteś pewien?'} do %>
                      <%= fa_icon 'times', style:'color: black' %> Usuń
                  <% end %>
                </li>
              </ul>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>

    <%= link_to new_shipping_path, class:'btn btn-default' do %>
        <%= fa_icon('plus') %>  Nowy Rodzaj Dostawy
    <% end %>

  </div>
</div>