<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @shipping.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @shipping.price %>
</p>

<%= link_to 'Edit', edit_shipping_path(@shipping) %> |
<%= link_to 'Back', shippings_path %>
