<div class="row">
  <div class="col-md-12">
    <h1>Platforms</h1>

    <table class="table table-bordered table-condensed table-striped">
      <thead>
      <tr>
        <th>Nazwa</th>
        <th>Narzędzia</th>
      </tr>
      </thead>

      <tbody>
      <% @platforms.each do |platform| %>
        <tr>
          <td><%= platform.platform %></td>
          <td>
            <ul class="list-inline">
              <li>

                <%= link_to platform do %>
                    <%= fa_icon 'eye', style: 'color: black' %> Podgląd
                <% end %>
              </li>
              <li>
                <%= link_to edit_platform_path(platform) do %>
                    <%= fa_icon 'pencil', style: 'color: black' %> Edycja
                <% end %>
              </li>
              <li>
                <%= link_to platform, method: :delete, data: {confirm: 'Jesteś pewien?'} do %>
                    <%= fa_icon 'times', style: 'color: black' %> Usuń
                <% end %>
              </li>
            </ul>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>

    <%= link_to new_platform_path, class: 'btn btn-default' do %>
        <%= fa_icon('plus') %>  Nowa Platfoma
    <% end %>
  </div>
</div>
