<div class="row">
  <div class="col-md-12">
    <h1>Administratorzy</h1>

    <table class="table table-bordered table-condensed table-striped">
      <thead>
        <tr>
          <th>Email</th>
          <th>Uprawnienia</th>
          <th>Narzędzia</th>
        </tr>
      </thead>

      <tbody>
        <% @admins.each do |admin| %>
          <tr>
            <td><%= admin.email %></td>
            <td>
              <% admin.amenities.as_json.each do |f| %>
                  <%= f %> <br/>
              <% end %>
            </td>
            <td>
              <ul class="list-inline">
                <li>
                  <%= link_to admin do %>
                      <%= fa_icon 'eye', style: 'color: black' %> Podgląd
                  <% end %>
                </li>

                <li>
                  <%= link_to edit_admin_path admin do %>
                      <%= fa_icon 'pencil', style: 'color: black' %> Edycja
                  <% end %>
                </li>

                <li>
                  <%= link_to admin, method: :delete, data: {confirm: 'Jesteś pewien?'} do %>
                      <%= fa_icon 'times', style: 'color: black' %> Usuń
                  <% end %>
                </li>
              </ul>
            </td>

          </tr>
        <% end %>
      </tbody>
    </table>
    <%= link_to new_admin_path, class: 'btn btn-default' do %>
        <%= fa_icon('plus') %>  Nowy Administrator
    <% end %>
  </div>
</div>