<div class="row">
  <div class="col-md-12">
    <h2>Dane użytkownika:</h2>
    <dl class="dl-horizontal">
      <dt>Email</dt>
      <dd><%= @user.email %></dd>

      <dt>Stworzony</dt>
      <dd><%= @user.created_at %></dd>

      <dt>Adres</dt>
      <% if @user.street? and @user.postal_code? and @user.city? and @user.country? %>
        <dd><%= @user.street %></dd>
        <dd><%=	@user.postal_code + ' ' + @user.city %></dd>
        <dd><%=	@user.country %></dd>
      <% else %>
          <dd>Uzupełnij</dd>
      <% end %>

    </dl>
    <%= link_to 'Zmień adres', users_edit_address_path, class: 'btn btn-default' %>
    <%= link_to 'Zmień hasło', edit_user_registration_path, class: 'btn btn-default' %>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h2>Zamówienia:</h2>
    <table class="table table-bordered table-condensed table-striped">
      <thead>
      <tr>
        <th>Status</th>
        <th>Dostawa</th>
        <th>Stwożony</th>
        <th>Edytowany</th>
        <th>Adres</th>
        <th>Narzędzia</th>
      </tr>
      </thead>

      <tbody>
      <% @orders.each do |order| %>
          <tr>
            <td>
              <% if order.order_status %>
                <%= order.order_status.name %>
              <% else %>
                  <%= 'Nieustawiony' %>
              <% end %>
            </td>
            <td>
              <% if order.shipping %>
                <%= order.shipping.name %>
              <% else %>
                  <%= 'Nieustawiony' %>
              <% end %>
            </td>
            <td><%= order.created_at %></td>
            <td><%= order.updated_at %></td>
            <td>
              <% if order.country and order.city and order.postal_code and order.street %>
                <%= order.country %>, <%= order.city %>, <%= order.postal_code %>, <%= order.street %>
              <% else %>
                  <%= 'Nieustawiony' %>
              <% end %>

            </td>
            <td>
              <ul class="list-inline">
                <li>

                  <%= link_to order do %>
                      <%= fa_icon 'eye', style: 'color: black' %> Podgląd
                  <% end %>
                </li>
              </ul>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>