<div class="row">
  <div class="col-md-12">
    <h1>Zamówienia</h1>

    <table class="table table-bordered table-condensed table-striped">
      <thead>
      <tr>
        <th>Id</th>
        <th>Użytkownik</th>
        <th>Status</th>
        <th>Dostawa</th>
        <th>Stwożony</th>
        <th>Edytowany</th>
        <th>Adres</th>
        <th>Narzędzia</th>
      </tr>
      </thead>

      <tbody>
      <% @orders.each do |order| %>
        <tr>
          <td><%= order.id %></td>
          <td>
            <% if order.user %>
            (<%= order.user.id %>)<%= order.user.email %>
            <% end %>
          </td>
          <td>
            <% if order.order_status %>
              <%= order.order_status.name %>
            <% end %>
            </td>
          <td>
            <% if order.shipping %>
              <%= order.shipping.name %>
            <% end %>
          </td>
          <td><%= order.created_at %></td>
          <td><%= order.updated_at %></td>
          <td>
              <%= order.country %>, <%= order.city %>, <%= order.postal_code %>, <%= order.street %>
          </td>
          <td>
            <ul class="list-inline">
              <li>

                <%= link_to order do %>
                    <%= fa_icon 'eye', style: 'color: black' %> Podgląd
                <% end %>
              </li>
              <li>
                <%= link_to edit_order_path(order) do %>
                    <%= fa_icon 'pencil', style: 'color: black' %> Edycja
                <% end %>
              </li>
              <% if false %>
                  <li>
                    <%= link_to order, method: :delete, data: {confirm: 'Jesteś pewien?'} do %>
                        <%= fa_icon 'times', style: 'color: black' %> Usuń
                    <% end %>
                  </li>
              <% end %>
            </ul>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>

    <% if false %>
        <%= link_to new_order_path, class: 'btn btn-default' do %>
            <%= fa_icon('plus') %>  Nowe Zamówienie
        <% end %>
    <% end %>
  </div>
</div>