<div class="well">

  <div class="row">
    <div class="col-xs-2">
      <h4><%= product.name %></h4>
    </div>
    <div class="col-xs-2">
      <p><%= image_tag(product.picture[0].url, class: 'pic') %></p>
    </div>
    <div class="col-xs-5">
      <p><%= product.description %></p>
    </div>
    <div class="col-xs-3">
      <%= form_for order_item, remote: true do |f| %>
        <h4 class="text-right">Cena: <span style="color: green"><%= sprintf "%0.02f", order_item.unit_price%>zł</span></h4>
          <div class="text-right">
            <div class="input-group">
            <%= f.number_field :quantity, value: order_item.quantity.to_i, class: "form-control", min: 1 %>
            <%= f.hidden_field :product_id, value: product.id %>
            <div class="input-group-btn">
              <%= f.submit 'Zmień ilość', class: "btn btn-primary" %>
              <%= link_to  order_item, { data: { confirm: "Czy jesteś pewien że chcesz usunąć '#{order_item.product.name}' z koszyka?" }, method: :delete, remote: true, class: "btn btn-danger" } do %>
                  <%= fa_icon('times') %> Usuń
              <% end %>
            </div>
            </div>
          </div>

        <h4 class="text-right">Łącznie: <span style="color: green">
        <%=
          sprintf "%0.02f", order_item.unit_price*order_item.quantity
          %>zł

        </span></h4>
      <% end %>
    </div>

  </div>
</div>




