<div class="row">
  <div class="col-md-12 ">
    <table class="table table-bordered table-condensed table-striped">
      <thead>
      <tr>
        <th>Obraz</th>
        <th>Nazwa</th>
        <th>Opis</th>
        <th>Kategoria</th>
        <th>Platforma</th>
        <th>Cena</th>
        <th>Ilość</th>
        <th>Łącznie</th>
      </tr>
      </thead>
      <tbody>
      <% x=0 %>
      <% @order_items.each do |order_item| %>
          <% x+=order_item.unit_price*order_item.quantity %>
        <tr>
          <td><%= image_tag(order_item.product.picture[0].url, class: 'table-pic') %></td>
          <td><%= order_item.product.name %></td>
          <td><%= order_item.product.description %></td>
          <td><%= order_item.product.category.name %></td>
          <td>
            <%= order_item.product.platform.name %>
          </td>
          <td><%= sprintf "%0.02f", order_item.unit_price %> zł</td>
          <td><%= order_item.quantity %></td>
          <td><%= sprintf "%0.02f", order_item.unit_price*order_item.quantity %> zł</td>
        </tr>
      <% end %>
      </tbody>
      <tfoot>
      <tr>
        <td colspan="7">
          <p class="pull-right">Łącznie:</p>
        </td>
        <td>
          <%= sprintf "%0.02f", x %> zł
        </td>
      </tr>
      <tr>
        <td colspan="7">
          <p class="pull-right">Dostawa:</p>
        </td>
        <td>
          <p id="shipping_price">
            Wybierz rodzaj dostawy
          </p>
        </td>
      </tr>
      <tr>
        <td colspan="7">
          <p class="pull-right">Z dostawą:</p>
        </td>
        <td>
          <p id="total_and_shipping">
            Wybierz rodzaj dostawy
          </p>
        </td>
      </tr>
      </tfoot>

    </table>
  </div>
</div>
<div class="row">
  <div class="col-md-12 ">
    <% if signed_in? %>
      <% if current_user.country.blank? or current_user.city.blank? or current_user.postal_code.blank? or current_user.street.blank? %>
            <p>Aby zrealizować zamówienie muisz uzupełnić swój <%= link_to 'adres', users_edit_address_path(current_user.id) %></p>
      <% else %>
        <%= form_tag carts_finalize_path do %>
          <div class="form-group">
            <%= check_box_tag 'form_dis' %>
            <%= label_tag 'label', 'Zmień adres dostawy',class: 'control-label' %>

          </div>
          <div class="form-group col-md-6">
            <%= label_tag 'label', 'Kraj',class: 'control-label' %>
            <%= text_field_tag 'order[country]', current_user.country, class: 'form-control', disabled: 'disabled' %>
          </div>
          <div class="form-group col-md-6">
            <%= label_tag 'label', 'Miasto',class: 'control-label' %>
            <%= text_field_tag 'order[city]', current_user.city, class: 'form-control', disabled: 'disabled' %>
          </div>
          <div class="form-group col-md-6">
            <%= label_tag 'label', 'Kod pocztowy',class: 'control-label' %>
            <%= text_field_tag 'order[postal_code]', current_user.postal_code, class: 'form-control', disabled: 'disabled'%>
          </div>
          <div class="form-group col-md-6">
            <%= label_tag 'label', 'Ulica',class: 'control-label' %>
            <%= text_field_tag 'order[street]', current_user.street, class: 'form-control', disabled: 'disabled' %>
          </div>
          <div class="form-group">
            <%= label_tag 'label', 'Wybierz rodzaj dostawy',class: 'control-label' %>
            <%= collection_select :order,
                                  :shipping_id,
                                  Shipping.all.collect { |t| [ t.id, "#{t.name}(#{sprintf "%0.02f", t.price} zł)" ] },
                                  :first,
                                  :last,
                                  {},
                                  {class: 'form-control'}
            %>
          </div>
          <div class="form-group">
            <div class="form-group-btn">
              <%= submit_tag 'Zamów', class: 'btn btn-primary' %>
            </div>
          </div>
        <% end %>
      <% end %>
    <% else %>
        <p>Aby zrealizować zamówienie muisz się <%= link_to 'zalogować', new_user_session_path %></p>
    <% end %>
  </div>
</div>

<script type="text/javascript" charset="utf-8">
$('#form_dis').on('click', function(){
  if($(this).prop('checked')){
    $('#order_country').removeAttr('disabled');
    $('#order_city').removeAttr('disabled');
    $('#order_postal_code').removeAttr('disabled');
    $('#order_street').removeAttr('disabled');
  } else {
    $('#order_country').attr('disabled', 'disabled');
    $('#order_city').attr('disabled', 'disabled');
    $('#order_postal_code').attr('disabled', 'disabled');
    $('#order_street').attr('disabled', 'disabled');
  }
})
</script>

<script type="text/javascript" charset="utf-8">
    var patt = /\(((\d+).+)\)/;
  document.getElementById("order_shipping_id").onchange = function(){
    var e = document.getElementById("order_shipping_id");
    var str = e.options[e.selectedIndex].text;
    str = str.match(patt)[1];
    document.getElementById("shipping_price").innerHTML = str;
    document.getElementById("total_and_shipping").innerHTML = String(parseInt(str)+<%= sprintf "%0.02f", x %>)+'zł';
  }
</script>