<div class="row">
  <div class="col-md-12">
    <%= form_tag products_path, method: 'get' do %>
        <fieldset>
          <legend>Filtrowanie:</legend>
          <div class="form-group">
            <div class="col-md-1"><%= label_tag(:fl, 'Kategoria:') %></div>
            <div class="col-md-2"><%= collection_select(:product, :fl, Category.all, :id, :name, {}, {class: 'form-control'}) %></div>
            <div class="col-md-1"><%= label_tag(:fl, 'Platforma:') %></div>
            <div class="col-md-2"><%= collection_select(:product, :fl, Category.all, :id, :name, {}, {class: 'form-control'}) %></div>
            <div class="col-md-2"><%= submit_tag 'Filtruj', class: 'btn btn-default' %></div>
          </div>
        </fieldset>
    <% end %>
  </div>
</div>
