<div class="well">

  <div class="row">
    <div class="col-xs-2">
      <h4><%= product.name %></h4>
    </div>
    <% if product.picture %>
        <div class="col-xs-2">
          <p>
          <%= link_to product.picture[0].url, data:{fancybox:"gallery#{product.id}"} do %>
              <%= image_tag(product.picture[0].url, class: 'pic') %>
          <% end %>
          </p>
          <% product.picture[1..-1].each do |p|%>
              <%= link_to p.url, data:{fancybox:"gallery#{product.id}"}, hidden: true do %>
                  <%= image_tag(p.url, class: 'pic') %>
              <% end %>
          <% end %>
        </div>
    <% end %>
    <div class="col-xs-5">
      <p><%= product.description %></p>
    </div>
    <div class="col-xs-3">
      <%= form_for order_item, remote: true do |f| %>

      <% if product.discount!=0 %>
            <h4 class="text-right">
              <span class="label text-right label-danger"><%= "#{product.discount}%" %></span>
              <del>Cena: <span style="color: green"><%= sprintf "%0.02f", product.price %>zł</span></del>
            </h4>
        <h4 class="text-right">Cena: <span style="color: red"><%=  sprintf "%0.02f", product.price-(product.price*(product.discount.to_f / 100 ))%>zł</span></h4>
      <% else %>
          <h4 class="text-right">Cena: <span style="color: green"><%= sprintf "%0.02f",product.price %>zł</span></h4>
      <% end %>

        <div class="input-group">
          <%= f.number_field :quantity, value: 1, class: "form-control", min: 1, max: product.stock %>
          <div class="input-group-btn">
            <%= f.hidden_field :product_id, value: product.id %>
            <%= button_tag type: "Dodaj", class: "btn btn-primary", disabled: product.stock == 0 do %>
                Dodaj <%= fa_icon('cart-plus') %>
            <% end %>
          </div>
        </div>

      <% end %>
    </div>

  </div>
</div>
