<!DOCTYPE html>
<html>
  <head>
    <title>Agile</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="container-fluid">

    <%= render "layouts/nav" %>
		<p class="notice"><%= notice %></p>
		<p class="alert"><%= alert %></p>

    <h1 class="cart-text"><%= render 'layouts/cart_text' %></h1>
    <%= yield %>
    </div>
  </body>
</html>
